{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo center">Lock-it</a>
        </div>
    </nav>
    <div class="container">
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn"><i
                        class="material-icons right">exit_to_app</i>Login
                </button>&nbsp;&nbsp;
                <a class="waves-effect waves-light btn" href={% url 'password_reset' %}><i class="material-icons right">security
                </i>Forgot password?</a>&nbsp;&nbsp;
                <a class="waves-effect waves-light btn" href={% url 'create-user' %}><i class="material-icons right">person_add</i>Create
                    account</a>
            </form>
        </div>
    </div>
{% endblock %}
