{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo center">Reset password</a>
            <ul id="nav-mobile" class="left">
                <li><a class="waves-effect waves-light  btn" href={% url 'login' %}> <i
                        class="material-icons">arrow_back</i></a></li>

            </ul>
        </div>
    </nav>

    <div class="container">
        <div>
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn"><i
                        class="material-icons right">enhanced_encryption</i>Reset password
                </button>
            </form>
        </div>
    </div>

{% endblock %}