{% extends 'base.html' %}

{% block title %} Update Service {% endblock %}

{% block content %}
    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo center">Update Service!</a>
        </div>
    </nav>
    <div class="container">
        <div>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn"><i
                        class="material-icons right">low_priority</i>Update</button>
            </form>
        </div>
    </div>


{% endblock %}