{% extends 'base.html' %}

{% block tittle %} Service List {% endblock %}

{% block content %}

    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo center">Service List</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light green btn" href= {% url 'services:service_create' %}><i
                        class="material-icons left">add</i>Add Service</a></li>
                <li><a class="waves-effect waves-light grey btn" href={% url 'logout' %}><i
                        class="material-icons left">lock</i>Logout</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <table class="centered">
        <thead>
        <tr>
            <th>Service Name</th>
            <th>User or Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>


        <tbody>
        {% for service in all_services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.username }}</td>
                <td id="servicePass">{{ service.password }}</td>
                <td>
                    <a class="waves-effect waves-light green btn" href="#"><i
                            class="material-icons center">visibility</i></a>&nbsp;
                    <a class="waves-effect waves-light blue-grey darken-2 btn" href="#"><i
                            class="material-icons center">visibility_off</i></a>&nbsp;
                    <a class="waves-effect waves-light blue btn" href={% url 'services:service_update' service.id %}><i
                            class="material-icons center">mode_edit</i></a>&nbsp;
                    <a class="waves-effect waves-light red btn" href={% url 'services:service_delete' service.id %}><i
                            class="material-icons center">delete_sweep</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table style="overflow-y:auto">
    </table>
{% endblock %}