{% extends 'base.html' %}

{% block title %} Create User {% endblock %}

{% block content %}

    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo center">Create account</a>
            <ul id="nav-mobile" class="left">
                <li><a class="waves-effect waves-light  btn" href={% url 'login' %}> <i
                        class="material-icons">arrow_back</i></a></li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <div>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn" id="submitButton"><i
                        class="material-icons right">forward</i>Create Account
                </button>
            </form>
        </div>
    </div>
{% endblock %}