# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Documents\_Projects\lockit\.idea/dataSources/
/dataSources.local.xml
.idea
/../lockit/email_auth.py
email_auth.py
# Editor-based HTTP Client requests
/httpRequests/
